@page "/account/bussinessinfo"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Welcome to AppointX</PageTitle>


<div class="container mt-5">
    <h2 class="text-center mb-4">Service Provider Profile</h2>

    <div class="card shadow p-4 mb-4">
        <h4>Business Information</h4>
        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Business Name:</div>
            <div class="col-md-7">ProTech Solutions</div>
            <div class="col-md-2 text-end">
                <button class="btn text-white" style="background-color: #003262;">Edit</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Address:</div>
            <div class="col-md-7">123 Tech Street, City, Country</div>
            <div class="col-md-2 text-end">
                <button class="btn text-white" style="background-color: #003262;">Edit</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Contact Number:</div>
            <div class="col-md-7">+1234567890</div>
            <div class="col-md-2 text-end">
                <button class="btn text-white" style="background-color: #003262;">Edit</button>
            </div>
        </div>
    </div>
      </div>
